<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>Login</title>
</head>
<body>
<nav>
    <div class="nav-links">
        <a th:href="@{~/admin}" class="nav-link">소소한 장보기</a>
    </div>
</nav>
<main>
    <form action="#" th:object="${adminVO}" class="form-group" method="post">
        <h1 class="form-title">관리자 인증</h1>
        <div class="form-control">
            <label class="form-control-label">닉네임</label>
            <input type="text" class="form-control-field" th:field="*{nickname}" />
        </div>
        <div class="form-control">
            <label class="form-control-label">비밀번호</label>
            <input type="password" class="form-control-field" th:field="*{password}" />
        </div>
        <div class="form-control">
            <button
                   class="form-control-submit"
            >로그인</button>
        </div>
    </form>
</main>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</html>
