<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/storeRegister.css}" />
    <title>점포 등록 승인</title>
</head>
<body>
<nav>
    <div class="nav-links">
        <a href="#" class="nav-link nav-main">소소한 장보기</a>
        <button class="btn-logout">로그아웃</button>
    </div>
</nav>
<main>
    <div class="container">
        <h1 class="main-text">점포 등록 신청</h1>
            <div class="cards">
                <div th:each="store : ${stores}">
                    <div class="card">
                        <div class="card-left">
                            <div class="store-main">
                                <h3 class="store-name" th:text="${store.name}">철수네 과일가게</h3>
                                <div class="store-category">
                                    <strong>분류: </strong><span th:text="${store.storeType.krType}">분류</span>
                                </div>
                                <div class="store-description">
                                    <strong>설명: </strong><span th:text="${store.description}">설명</span>
                                </div>
                            </div>
                            <div class="store-images">
                                <img th:if="${store.imgUrl}" alt="store-image" width="100" />
                            </div>
                            <div class="store-phone">
                                <h4 class="store-phone-header">번호</h4>
                                <div th:text="${store.phone}" class="store-phone-content">
                                    01012341234
                                </div>
                            </div>
                            <div class="store-service">
                                <h4 class="store-service-header">제공 서비스</h4>
                                <ul class="store-service-list">
                                    <li th:if="${store.localCurrencyStatus}" class="store-service-item">지역화폐</li>
                                    <li th:if="${store.deliveryStatus}" class="store-service-item">배달 서비스</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-right">
                            <div class="business-number">
                                <h4 class="business-number-header">사업자 등록 번호</h4>
                                <div th:text="${store.storeMetaData?.businessNumber}" class="business-number-content">00000000000</div>
                            </div>
                            <div class="ceo">
                                <h4 class="ceo-header">대표자</h4>
                                <div th:text="${store.storeMetaData?.representativeName}" class="ceo-content">김철수</div>
                            </div>
                            <div class="company-name">
                                <h4 class="company-name-header">상호명</h4>
                                <div th:text="${store.storeMetaData?.businessName}" class="company-name-content">상호명</div>
                            </div>
                            <div class="open-date">
                                <h4 class="open-date-header">개업일</h4>
                                <div th:text="${store.storeMetaData?.openingDate}" class="open-date-content">2021-01-01</div>
                            </div>
                            <div class="address">
                                <h4 class="address-header">점포 주소</h4>
                                <div th:text="|${store.streetAddress} ${store.detailedAddress}|" class="address-content">서울시 xx구 xx동 A동 102호</div>
                            </div>
                            <div class="form-submit">
                                <form action="#">
                                    <input type="hidden" name="storeId" th:value="${store.id}">
                                    <button type="button" name="action" value="approve" class="btn btn-submit btn-blue">승인</button>
                                    <button type="submit" name="action" value="reject" class="btn btn-submit btn-red">반려</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/redirect.js}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js}"></script>
<script type="text/javascript" th:src="@{/js/storeRegister.js}"></script>
</html>
