<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{css/user-report.css}" />
    <title>Store Registration</title>
</head>
<body>
<nav>
    <div class="nav-links">
        <a href="#" class="nav-link">소소한 장보기</a>
        <a href="#" class="nav-link">점포 등록</a>
        <a href="#" class="nav-link">사용자 신고</a>
        <a href="#" class="nav-link">점포 신고</a>
        <a href="#" class="nav-link">로그아웃</a>
    </div>
</nav>
<main>
    <div class="container">
        <h1 class="main-text">사용자 신고 처리</h1>
        <div class="cards">
            <div class="card">
                <div class="username">
                    <h4 class="username-header">사용자 닉네임</h4>
                    <div class="username-content">김철수</div>
                </div>
                <div class="appeal">
                    <h4 class="appeal-header">신고 사유</h4>
                    <div class="appeal-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque alias non molestiae commodi animi suscipit deserunt
                        ipsam a praesentium facere eveniet et impedit quas aut iusto,
                        eligendi tempore fugit aspernatur, doloribus ullam! Accusamus
                        reiciendis, repudiandae illum reprehenderit at nostrum iusto,
                        quam odio excepturi quo omnis inventore unde facilis, sequi et!
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-blue">보류</button>
                    <button class="btn btn-red">이용 정지</button>
                </div>
            </div>
            <div class="card">
                <div class="username">
                    <h4 class="username-header">사용자 닉네임</h4>
                    <div class="username-content">김철수</div>
                </div>
                <div class="appeal">
                    <h4 class="appeal-header">신고 사유</h4>
                    <div class="appeal-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque alias non molestiae commodi animi suscipit deserunt
                        ipsam a praesentium facere eveniet et impedit quas aut iusto,
                        eligendi tempore fugit aspernatur, doloribus ullam! Accusamus
                        reiciendis, repudiandae illum reprehenderit at nostrum iusto,
                        quam odio excepturi quo omnis inventore unde facilis, sequi et!
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-blue">보류</button>
                    <button class="btn btn-red">이용 정지</button>
                </div>
            </div>
        </div>
</main>
</body>
</html>
