* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

nav {
  background-color: #5221ff;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  position: relative;
}

.nav-links .nav-link:first-child {
  font-size: 20px;
}

.btn-logout {
  position: absolute;
  right: 10px;
  background-color: #5221ff;
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  height: 50px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  height: 50px;
  line-height: 42px;
}

.nav-link:hover,
.nav-link:active,
.btn-logout:hover {
  cursor: pointer;
}

.container {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
}

.main-text {
  margin-bottom: 30px;
}

.card {
  display: flex;
  margin-bottom: 30px;
}

.card-1,
.card-2,
.card-3 {
  display: inline-block;
  width: 250px;
  border: 1px solid black;
  padding: 15px 30px;
}

.card-1 div,
.card-2 div,
.card-3 div {
  margin-bottom: 20px;
}

.store-name {
  margin-bottom: 20px;
}

.btn {
  border: 1px solid black;
  border-radius: 10px;
  color: #fff;
  padding: 5px 15px;
  margin: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-blue {
  background-color: #5221ff;
}

.btn-red {
  background-color: #ff5555;
}

@media (max-width: 623px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links .nav-link:not(:first-child):not(:last-child) {
    display: none;
  }

  .card {
    flex-direction: column;
  }
}
